.header {
    padding-top: 45px;
    margin-bottom: 36px;

    &__container {
        border-bottom: 1px solid #545454;
        padding-bottom: 41px;
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
    }
}
