.intro {
    font-family: $font-main;
    position: relative;
    display: block;
    width: 100%;

    &__clip {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        &-item {
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @media (min-aspect-ratio: 16/9) {
                height: 300%;
                top: -100%;
            }
            @media (max-aspect-ratio: 16/9) {
                width: 300%;
                left: -100%;
            }
            @supports (object-fit: cover) {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
