@mixin link-hover($color: #000) {
    color: $color;
    position: relative;

    &:after {
        transition: all 0.2s ease-in-out;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $color;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}
