/*
 * Object Fit
 *
 * .usage{
 *    @include object-fit([property], [position]);
 * }
 */

@mixin object-fit($property: cover, $position: center){
    object-fit: $property;
    object-position: $position;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
