/* ==========================================================================
   Colors
   ========================================================================== */

/* Primary
   ========================================================================== */

    $color-primary: #000;
    $color-secondary: #fff;


/* Background
   ========================================================================== */

    $color-background: #fff;
    $color-background-alt: #dfdfdf;
    $color-background-input: #f3f4f4;
    $color-border-input: #e6e6e6;
    $color-background-button: #f0384b;


/* Text
   ========================================================================== */

    $color-text: #1b1e2b;
    $color-text-alt: #fff;
